<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>The New York Times Scraped</title>
</head>

<body>
	<header>
		<a href="/">
			<div id="sitename">New York Times Scraper</div>
		</a>
		<a href="/"><button id="all-articles">All Articles</button></a>
		<a href="/saved"><button id="saved-articles">Saved Articles</button></a>
		<form action="/scrape" method="GET">
			<button type="submit" id="refresh-articles">Articles</button>
		</form>
		<form action="/search" method="POST">
			<button type="submit" id="search-submit">Submit</button>
			<input type="text" name="search" placeholder="Search for articles" id="search-input">
		</form>
	</header>
	<img id="cover" src="/images/Newspaper.jpg">
	<div id="container">
		{{{ body }}}
	</div>

	<script src="/javascript/app.js"></script>

	<div id="addnote">
		<div id="note-displayer">
			<h2>Comments</h2>
			<h3>Article: <span id="article-title"></span></h3>
			<div id="note">
				<label for="note-title">Title</label><br>
				<input type="text" placeholder="Title" name="title" id="note-title"><br>
				<label for="note-body">Comments</label><br>
				<textarea rows="7" placeholder="Comments" id="note-body"></textarea><br>
				<button type="submit" id="add-note">Save Comments</button>
				<button type="button" id="close-note">Cancel</button>
			</div>
		</div>
	</div>

	<footer>Thank you for Reading!</footer>
	<script src="/javascript/app.js"></script>
</body>

</html>